.ng-pokie-container {
    position: relative;
    height: 100%;
}

.ng-pokie-digit-column-container {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 100%;
    overflow-y: hidden;
}

.ng-pokie-digit-column {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.ng-pokie-digit {
    height: 100%;
    line-height: 0;
    transform: translateY(50%);
}
